go 1.20

use (
	./archive/tar/gostdlib-archive-tar
	./archive/zip/gostdlib-archive-zip-reader
	./archive/zip/gostdlib-archive-zip-writer
	./archive/zip/gostdlib-archive-zip-writercomp
	./bufio/gostdlib-bufio-bytescan
	./bufio/gostdlib-bufio-customscan
	./bufio/gostdlib-bufio-emptyfinal
	./bufio/gostdlib-bufio-linescan
	./bufio/gostdlib-bufio-wordscan
	./bufio/gostdlib-bufio-writer
	./bufio/gostdlib-bufio-writeravail
	./bytes/gostdlib-bytes-buffer
	./bytes/gostdlib-bytes-bufferbytes
	./bytes/gostdlib-bytes-buffercap
	./bytes/gostdlib-bytes-buffergrow
	./bytes/gostdlib-bytes-bufferlen
	./bytes/gostdlib-bytes-buffernext
	./bytes/gostdlib-bytes-bufferread
	./bytes/gostdlib-bytes-bufferreadbyte
	./bytes/gostdlib-bytes-bufferreader
	./bytes/gostdlib-bytes-compare
	./bytes/gostdlib-bytes-comparesearch
	./bytes/gostdlib-bytes-contains
	./bytes/gostdlib-bytes-containsany
	./bytes/gostdlib-bytes-containsrune
	./bytes/gostdlib-bytes-count
	./bytes/gostdlib-bytes-cut
	./bytes/gostdlib-bytes-equal
	./bytes/gostdlib-bytes-equalfold
	./bytes/gostdlib-bytes-fields
	./bytes/gostdlib-bytes-fieldsfunc
	./bytes/gostdlib-bytes-hasprefix
	./bytes/gostdlib-bytes-hassuffix
	./bytes/gostdlib-bytes-index
	./bytes/gostdlib-bytes-indexany
	./bytes/gostdlib-bytes-indexbyte
	./bytes/gostdlib-bytes-indexfunc
	./bytes/gostdlib-bytes-indexrune
	./bytes/gostdlib-bytes-join
	./bytes/gostdlib-bytes-lastindex
	./bytes/gostdlib-bytes-lastindexany
	./bytes/gostdlib-bytes-lastindexbyte
	./bytes/gostdlib-bytes-lastindexfunc
	./bytes/gostdlib-bytes-readerlen
	./bytes/gostdlib-bytes-repeat
	./bytes/gostdlib-bytes-replace
	./bytes/gostdlib-bytes-replaceall
	./bytes/gostdlib-bytes-runes
	./bytes/gostdlib-bytes-split
	./bytes/gostdlib-bytes-splitafter
	./bytes/gostdlib-bytes-splitaftern
	./bytes/gostdlib-bytes-splitn
	./bytes/gostdlib-bytes-tolower
	./bytes/gostdlib-bytes-tolowerspecial
	./bytes/gostdlib-bytes-toupper
	./bytes/gostdlib-bytes-toupperspecial
	./bytes/gostdlib-bytes-tovalidutf8
	./bytes/gostdlib-bytes-trim
	./bytes/gostdlib-bytes-trimfunc
	./bytes/gostdlib-bytes-trimleft
	./bytes/gostdlib-bytes-trimleftfunc
	./bytes/gostdlib-bytes-trimprefix
	./bytes/gostdlib-bytes-trimright
	./bytes/gostdlib-bytes-trimrightfunc
	./bytes/gostdlib-bytes-trimspace
	./bytes/gostdlib-bytes-trimsuffix
	./compress/flate/gostdlib-compress-flate-dictionary
	./compress/flate/gostdlib-compress-flate-reader
	./compress/flate/gostdlib-compress-flate-reset
	./compress/flate/gostdlib-compress-flate-sync
	./compress/flate/gostdlib-compress-flate-writer
	./compress/gzip/gostdlib-compress-gzip-httpreader
	./compress/gzip/gostdlib-compress-gzip-reader
	./compress/gzip/gostdlib-compress-gzip-writer
	./compress/gzip/gostdlib-compress-gzip-writerreader
	./compress/lzw/gostdlib-compress-lzw-reader
	./compress/lzw/gostdlib-compress-lzw-writer
	./compress/zlib/gostdlib-compress-zlib-reader
	./compress/zlib/gostdlib-compress-zlib-writer
	./container/heap/gostdlib-container-heap-int
	./container/heap/gostdlib-container-heap-pq
	./container/list/gostdlib-container-list-basic
	./container/ring/gostdlib-container-ring-do
	./container/ring/gostdlib-container-ring-len
	./container/ring/gostdlib-container-ring-link
	./container/ring/gostdlib-container-ring-move
	./container/ring/gostdlib-container-ring-next
	./container/ring/gostdlib-container-ring-prev
	./container/ring/gostdlib-container-ring-unlink
)
