go 1.20

use (
	./archive/tar/gostdlib-archive-tar
	./archive/zip/gostdlib-archive-zip-reader
	./archive/zip/gostdlib-archive-zip-writer
	./archive/zip/gostdlib-archive-zip-writercomp
	./bufio/gostdlib-bufio-bytescan
	./bufio/gostdlib-bufio-customscan
	./bufio/gostdlib-bufio-emptyfinal
	./bufio/gostdlib-bufio-linescan
	./bufio/gostdlib-bufio-wordscan
	./bufio/gostdlib-bufio-writer
	./bufio/gostdlib-bufio-writeravail
	./bytes/gostdlib-bytes-buffer
	./bytes/gostdlib-bytes-bufferbytes
	./bytes/gostdlib-bytes-buffercap
	./bytes/gostdlib-bytes-buffergrow
	./bytes/gostdlib-bytes-bufferlen
	./bytes/gostdlib-bytes-buffernext
	./bytes/gostdlib-bytes-bufferread
	./bytes/gostdlib-bytes-bufferreadbyte
	./bytes/gostdlib-bytes-bufferreader
	./bytes/gostdlib-bytes-compare
	./bytes/gostdlib-bytes-comparesearch
)
