go 1.21.5

use (
	./archive/tar/gostdlib-archive-tar
	./archive/zip/gostdlib-archive-zip-reader
	./archive/zip/gostdlib-archive-zip-writer
	./archive/zip/gostdlib-archive-zip-writercomp
	./bufio/gostdlib-bufio-bytescan
	./bufio/gostdlib-bufio-customscan
	./bufio/gostdlib-bufio-emptyfinal
	./bufio/gostdlib-bufio-linescan
	./bufio/gostdlib-bufio-wordscan
	./bufio/gostdlib-bufio-writer
	./bufio/gostdlib-bufio-writeravail
	./bytes/gostdlib-bytes-buffer
	./bytes/gostdlib-bytes-bufferbytes
	./bytes/gostdlib-bytes-buffercap
	./bytes/gostdlib-bytes-buffergrow
	./bytes/gostdlib-bytes-bufferlen
	./bytes/gostdlib-bytes-buffernext
	./bytes/gostdlib-bytes-bufferread
	./bytes/gostdlib-bytes-bufferreadbyte
	./bytes/gostdlib-bytes-bufferreader
	./bytes/gostdlib-bytes-compare
	./bytes/gostdlib-bytes-comparesearch
	./bytes/gostdlib-bytes-contains
	./bytes/gostdlib-bytes-containsany
	./bytes/gostdlib-bytes-containsrune
	./bytes/gostdlib-bytes-count
	./bytes/gostdlib-bytes-cut
	./bytes/gostdlib-bytes-equal
	./bytes/gostdlib-bytes-equalfold
	./bytes/gostdlib-bytes-fields
	./bytes/gostdlib-bytes-fieldsfunc
	./bytes/gostdlib-bytes-hasprefix
	./bytes/gostdlib-bytes-hassuffix
	./bytes/gostdlib-bytes-index
	./bytes/gostdlib-bytes-indexany
	./bytes/gostdlib-bytes-indexbyte
	./bytes/gostdlib-bytes-indexfunc
	./bytes/gostdlib-bytes-indexrune
	./bytes/gostdlib-bytes-join
	./bytes/gostdlib-bytes-lastindex
	./bytes/gostdlib-bytes-lastindexany
	./bytes/gostdlib-bytes-lastindexbyte
	./bytes/gostdlib-bytes-lastindexfunc
	./bytes/gostdlib-bytes-readerlen
	./bytes/gostdlib-bytes-repeat
	./bytes/gostdlib-bytes-replace
	./bytes/gostdlib-bytes-replaceall
	./bytes/gostdlib-bytes-runes
	./bytes/gostdlib-bytes-split
	./bytes/gostdlib-bytes-splitafter
	./bytes/gostdlib-bytes-splitaftern
	./bytes/gostdlib-bytes-splitn
	./bytes/gostdlib-bytes-tolower
	./bytes/gostdlib-bytes-tolowerspecial
	./bytes/gostdlib-bytes-toupper
	./bytes/gostdlib-bytes-toupperspecial
	./bytes/gostdlib-bytes-tovalidutf8
	./bytes/gostdlib-bytes-trim
	./bytes/gostdlib-bytes-trimfunc
	./bytes/gostdlib-bytes-trimleft
	./bytes/gostdlib-bytes-trimleftfunc
	./bytes/gostdlib-bytes-trimprefix
	./bytes/gostdlib-bytes-trimright
	./bytes/gostdlib-bytes-trimrightfunc
	./bytes/gostdlib-bytes-trimspace
	./bytes/gostdlib-bytes-trimsuffix
	./compress/flate/gostdlib-compress-flate-dictionary
	./compress/flate/gostdlib-compress-flate-reader
	./compress/flate/gostdlib-compress-flate-reset
	./compress/flate/gostdlib-compress-flate-sync
	./compress/flate/gostdlib-compress-flate-writer
	./compress/gzip/gostdlib-compress-gzip-httpreader
	./compress/gzip/gostdlib-compress-gzip-reader
	./compress/gzip/gostdlib-compress-gzip-writer
	./compress/gzip/gostdlib-compress-gzip-writerreader
	./compress/lzw/gostdlib-compress-lzw-reader
	./compress/lzw/gostdlib-compress-lzw-writer
	./compress/zlib/gostdlib-compress-zlib-reader
	./compress/zlib/gostdlib-compress-zlib-writer
	./container/heap/gostdlib-container-heap-int
	./container/heap/gostdlib-container-heap-pq
	./container/list/gostdlib-container-list-basic
	./container/ring/gostdlib-container-ring-do
	./container/ring/gostdlib-container-ring-len
	./container/ring/gostdlib-container-ring-link
	./container/ring/gostdlib-container-ring-move
	./container/ring/gostdlib-container-ring-next
	./container/ring/gostdlib-container-ring-prev
	./container/ring/gostdlib-container-ring-unlink
	./context/gostdlib-context-withcancel
	./context/gostdlib-context-withdeadline
	./context/gostdlib-context-withtimeout
	./context/gostdlib-context-withvalue
	./crypto/cipher/gostdlib-crypto-cipher-cbcdecrypter
	./crypto/cipher/gostdlib-crypto-cipher-cbcencrypter
	./crypto/cipher/gostdlib-crypto-cipher-cfbdecrypter
	./crypto/cipher/gostdlib-crypto-cipher-cfbencrypter
	./crypto/cipher/gostdlib-crypto-cipher-ctr
	./crypto/cipher/gostdlib-crypto-cipher-gcmdecrypter
	./crypto/cipher/gostdlib-crypto-cipher-gcmencrypter
	./crypto/cipher/gostdlib-crypto-cipher-ofb
	./crypto/cipher/gostdlib-crypto-cipher-streamreader
	./crypto/cipher/gostdlib-crypto-cipher-streamwriter
	./crypto/des/gostdlib-crypto-des-cbcdecrypter
	./crypto/des/gostdlib-crypto-des-cbcencrypter
	./crypto/ecdsa/gostdlib-crypto-ecdsa
	./crypto/ed25519/gostdlib-crypto-ed25519
	./crypto/hmac/gostdlib-crypto-hmac
	./crypto/md5/gostdlib-crypto-md5-file
	./crypto/md5/gostdlib-crypto-md5-new
	./crypto/rand/gostdlib-crypto-rand-basic
	./crypto/rand/gostdlib-crypto-rand-uuid
	./crypto/rsa/gostdlib-crypto-rsa-conversation
	./crypto/rsa/gostdlib-crypto-rsa-decryptoaep
	./crypto/rsa/gostdlib-crypto-rsa-encryptoaep
	./crypto/sha256/gostdlib-crypto-sha256-file
	./crypto/sha256/gostdlib-crypto-sha256-new
	./crypto/sha512/gostdlib-crypto-sha512-file
	./crypto/sha512/gostdlib-crypto-sha512-new
	./crypto/tls/gostdlib-crypto-tls-cert
	./crypto/tls/gostdlib-crypto-tls-client
	./crypto/tls/gostdlib-crypto-tls-dial
	./crypto/tls/gostdlib-crypto-tls-server
	./crypto/x509/gostdlib-crypto-x509-pkix
	./crypto/x509/gostdlib-crypto-x509-verify
	./encoding/base32/gostdlib-encoding-base32-decode
	./encoding/base32/gostdlib-encoding-base32-decodestr
	./encoding/base32/gostdlib-encoding-base32-encode
	./encoding/base32/gostdlib-encoding-base32-encodestr
	./encoding/base32/gostdlib-encoding-base32-newencoder
	./encoding/base64/gostdlib-encoding-base64-decode
	./encoding/base64/gostdlib-encoding-base64-decodestr
	./encoding/base64/gostdlib-encoding-base64-encode
	./encoding/base64/gostdlib-encoding-base64-encodestr
	./encoding/base64/gostdlib-encoding-base64-newencoder
	./encoding/base64/gostdlib-encoding-base64-package
	./encoding/binary/gostdlib-encoding-binary-byteorderget
	./encoding/binary/gostdlib-encoding-binary-byteorderput
	./encoding/binary/gostdlib-encoding-binary-read
	./encoding/binary/gostdlib-encoding-binary-readmulti
	./encoding/binary/gostdlib-encoding-binary-uvarint
	./encoding/binary/gostdlib-encoding-binary-uvarintput
	./encoding/binary/gostdlib-encoding-binary-varint
	./encoding/binary/gostdlib-encoding-binary-varintput
	./encoding/binary/gostdlib-encoding-binary-write
	./encoding/binary/gostdlib-encoding-binary-writemulti
	./encoding/csv/gostdlib-encoding-csv-read
	./encoding/csv/gostdlib-encoding-csv-readall
	./encoding/csv/gostdlib-encoding-csv-readopt
	./encoding/csv/gostdlib-encoding-csv-write
	./encoding/csv/gostdlib-encoding-csv-writeall
	./encoding/gob/gostdlib-encoding-gob-basic
	./encoding/gob/gostdlib-encoding-gob-custominterface
	./encoding/gob/gostdlib-encoding-gob-custommarshal
	./encoding/hex/gostdlib-encoding-hex-decode
	./encoding/hex/gostdlib-encoding-hex-decodestr
	./encoding/hex/gostdlib-encoding-hex-dump
	./encoding/hex/gostdlib-encoding-hex-dumper
	./encoding/hex/gostdlib-encoding-hex-encode
	./encoding/hex/gostdlib-encoding-hex-encodestr
	./encoding/json/gostdlib-encoding-json-decoder
	./encoding/json/gostdlib-encoding-json-decoderstream
	./encoding/json/gostdlib-encoding-json-decodertoken
	./encoding/json/gostdlib-encoding-json-htmlescape
	./encoding/json/gostdlib-encoding-json-indent
	./encoding/json/gostdlib-encoding-json-marshal
	./encoding/json/gostdlib-encoding-json-marshalcustom
	./encoding/json/gostdlib-encoding-json-marshalindent
	./encoding/json/gostdlib-encoding-json-marshalindent2
	./encoding/json/gostdlib-encoding-json-marshaltext
	./encoding/json/gostdlib-encoding-json-rawmessage
	./encoding/json/gostdlib-encoding-json-rawmessagemarshal
	./encoding/json/gostdlib-encoding-json-unmarshal
	./encoding/json/gostdlib-encoding-json-unmarshalbackward
	./encoding/json/gostdlib-encoding-json-unmarshalforward
	./encoding/json/gostdlib-encoding-json-valid
	./encoding/pem/gostdlib-encoding-pem-decode
	./encoding/pem/gostdlib-encoding-pem-encode
	./encoding/xml/gostdlib-encoding-xml-encoder
	./encoding/xml/gostdlib-encoding-xml-marshalcustom
	./encoding/xml/gostdlib-encoding-xml-marshalindent
	./encoding/xml/gostdlib-encoding-xml-marshaltext
	./encoding/xml/gostdlib-encoding-xml-soapdecode
	./encoding/xml/gostdlib-encoding-xml-unmarshal
	./errors/gostdlib-errors-as
	./errors/gostdlib-errors-basic
	./errors/gostdlib-errors-errorf
	./errors/gostdlib-errors-is
	./errors/gostdlib-errors-join
	./errors/gostdlib-errors-new
	./errors/gostdlib-errors-unwrap
	./flag/gostdlib-flag-basic
	./flag/gostdlib-flag-boolfunc
	./flag/gostdlib-flag-func
	./flag/gostdlib-flag-package
	./flag/gostdlib-flag-package2
	./flag/gostdlib-flag-package3
	./flag/gostdlib-flag-textvar
	./flag/gostdlib-flag-value
	./fmt/gostdlib-fmt-errorf
	./fmt/gostdlib-fmt-fprint
	./fmt/gostdlib-fmt-fprintf
	./fmt/gostdlib-fmt-fprintln
	./fmt/gostdlib-fmt-fscanf
	./fmt/gostdlib-fmt-fscanln
	./fmt/gostdlib-fmt-gostringer
	./fmt/gostdlib-fmt-print
	./fmt/gostdlib-fmt-printbool
	./fmt/gostdlib-fmt-printbytes
	./fmt/gostdlib-fmt-printers
	./fmt/gostdlib-fmt-printf
	./fmt/gostdlib-fmt-printfloats
	./fmt/gostdlib-fmt-printformats
	./fmt/gostdlib-fmt-printints
	./fmt/gostdlib-fmt-println
	./fmt/gostdlib-fmt-printptr
	./fmt/gostdlib-fmt-printrawbytes
	./fmt/gostdlib-fmt-printrunes
	./fmt/gostdlib-fmt-printrunesutf8
	./fmt/gostdlib-fmt-printstrings
	./fmt/gostdlib-fmt-printstructs
	./fmt/gostdlib-fmt-sprint
	./fmt/gostdlib-fmt-sprintf
	./fmt/gostdlib-fmt-sprintln
	./fmt/gostdlib-fmt-sscanf
	./fmt/gostdlib-fmt-stringer
	./go/ast/gostdlib-go-ast-commentmap
	./go/ast/gostdlib-go-ast-inspect
	./go/ast/gostdlib-go-ast-print
	./go/constant/gostdlib-go-constant-binaryop
	./go/constant/gostdlib-go-constant-compare
	./go/constant/gostdlib-go-constant-complexnumbers
	./go/constant/gostdlib-go-constant-sign
	./go/constant/gostdlib-go-constant-unaryop
	./go/constant/gostdlib-go-constant-val
	./go/doc/gostdlib-go-doc-newfromfiles
	./go/format/gostdlib-go-format-node
	./go/parser/gostdlib-go-parser-parsefile
	./go/printer/gostdlib-go-printer-fprint
	./go/scanner/gostdlib-go-scanner-scan
	./go/token/gostdlib-go-token-position
	./go/types/gostdlib-go-types-info
	./go/types/gostdlib-go-types-methodset
	./go/types/gostdlib-go-types-scope
	./hash/crc32/gostdlib-hash-crc32-maketable
	./hash/maphash/gostdlib-hash-maphash-package
	./html/gostdlib-html-escapestring
	./html/gostdlib-html-unescapestring
	./html/template/gostdlib-html-template-autoescape
	./html/template/gostdlib-html-template-basic
	./html/template/gostdlib-html-template-block
	./html/template/gostdlib-html-template-escape
	./image/draw/gostdlib-image-draw-floydsteinberg
	./image/gostdlib-image-decodeconfig
	./image/gostdlib-image-histogram
	./image/png/gostdlib-image-png-decode
	./image/png/gostdlib-image-png-encode
	./index/suffixarray/gostdlib-index-suffixarray-lookup
	./io/fs/gostdlib-io-fs-walkdir
	./io/gostdlib-io-copy
	./io/gostdlib-io-copybuffer
	./io/gostdlib-io-copyn
	./io/gostdlib-io-limitreader
	./io/gostdlib-io-multireader
	./io/gostdlib-io-multiwriter
	./io/gostdlib-io-pipe
	./io/gostdlib-io-readall
	./io/gostdlib-io-readatleast
	./io/gostdlib-io-readfull
	./io/gostdlib-io-sectionreader
	./io/gostdlib-io-sectionreaderread
	./io/gostdlib-io-sectionreaderreadat
	./io/gostdlib-io-sectionreaderseek
	./io/gostdlib-io-sectionreadersize
	./io/gostdlib-io-teereader
	./io/gostdlib-io-writestring
	./log/gostdlib-log-logger
	./log/gostdlib-log-loggeroutput
	./log/slog/gostdlib-log-slog-group
	./log/slog/gostdlib-log-slog-handler
	./log/slog/gostdlib-log-slog-handleroptions
	./log/slog/gostdlib-log-slog-logvaluergroup
	./log/slog/gostdlib-log-slog-logvaluerredact
	./log/slog/gostdlib-log-slog-wrapping
	./maps/gostdlib-maps-clone
	./maps/gostdlib-maps-copy
	./maps/gostdlib-maps-deletefunc
	./maps/gostdlib-maps-equal
	./maps/gostdlib-maps-equalfunc
	./math/gostdlib-math-abs
	./math/gostdlib-math-acos
	./math/gostdlib-math-asin
	./math/gostdlib-math-atan
)
